*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main{
    background-color: white;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    border: 3px solid black;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 5px;
    width: 300px;
    height: 550px;
    
}

button1{
    background-color: orangered;
    border-radius: 5px;
    margin-top: 20px;
    padding: 4px;
}

button2{
    background-color: blue;
    border-radius: 5px;
    margin-top: 3px;
    padding: 4px;
    
}

input{
    padding: 6px;
}